
<% content_for :title do %>
  Holiday rental, cabins, beach houses & more
<% end %>

<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 sm:py-8 lg:max-w-7xl lg:px-8">
    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">

      <% @properties.each do |property| %>
      <div class="group relative">
        <div class="">
          <% if property.images.attached? %>            
            <div class="relative rounded-md bg-gray-200 ">
              <div class="swiper transition-transform duration-300 ease-in-out group-hover:scale-110" data-controller="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <% property.images.each do |image| %>
                    <%= image_tag image.variant(resize_to_fill: [400, 400]).processed, alt: "Property image", class: "swiper-slide h-full w-full object-cover object-center lg:h-full lg:w-full" %>
                  <% end %>
                </div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
              <div class="absolute z-10 right-0 top-0 m-4">
                <svg xmlns="http://www.w3.org/2000/svg" 
                    viewBox="0 0 32 32" 
                    aria-hidden="true"
                    focusable="false"
                    class="block h-6 w-6 stroke-white stroke-2 fill-none"
                    data-controller="wishlist"
                    data-action="click->wishlist#toggle"
                    data-wishlist-property-id-value="<%= property.id %>"
                    data-wishlist-wishlist-id-value="<%= current_user&.wishlists&.find_by(property: property)&.id %>"
                    data-wishlist-is-wishlisted-value="<%= current_user.present? && current_user.wishlists.exists?(property: property) %>"
                    data-status="<%= current_user.present? && current_user.wishlists.exists?(property: property) %>">
                  <path d="M16 28c7-4.73 14-10 14-17a6.98 6.98 0 0 0-7-7c-1.8 0-3.58.68-4.95 2.05L16 8.1l-2.05-2.05a6.98 6.98 0 0 0-9.90 0A6.98 6.98 0 0 0 2 11c0 7 7 12.27 14 17z">                    
                  </path>
                </svg>
              </div>
            </div>
          <% else %>
            <%= image_tag "placeholder.png", alt: "No image", class: "h-full w-full object-cover object-center lg:h-full lg:w-full" %>
          <% end %>

        </div>
        <div class="mt-2 flex flex-col justify-end">
          <div class="flex justify-between">
            <h3 class="text-base font-medium text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                <%= "#{property.city}, #{property.country}" %>
              </a>
            </h3>
            <p class="font-light mr-1 flex items-center">
              ⭐<%= property.average_final_rating || "N/A" %>

            </p>
          </div>          
            <p class="ml-0.5 text-sm text-gray-500">Hosted by Rails</p>
            <p class="ml-0.5 text-sm text-gray-500">20-25 Jan</p>
            <p class="ml-0.5 text-sm font-light text-gray-800">
              <span class="font-medium text-black">
                <%= property.price.format %>
              </span> night
            </p>
        </div>
      </div>
      <% end %>
      
    </div>
  </div>
</div>

