<!DOCTYPE html>
<html>
  <head>
    <title>Airbnb | <%= content_for(:title) || "Airbnb" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%= favicon_link_tag 'favicon.png' %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="fixed left-1/2 top-[34%] transform -translate-x-1/2 z-50">
      <% if notice %>
        <p class="bg-blue-100 text-blue-800 px-4 py-2 rounded shadow">
          <%= notice %>
        </p>
      <% end %>

      <% if alert %>
        <p class="bg-red-100 text-red-800 px-4 py-2 rounded shadow">
          <%= alert %>
        </p>
      <% end %>
    </div>


    <% unless ['registrations', 'sessions'].include?(controller_name) %>
      <%= render 'layouts/header' %>
    <% end %>
    
    <%= yield %>

  </body>
</html>
